<div style="text-align: center">
<h1>Create a new task</h1>

<%= form_for(@task) do |f| %>

  <p><strong>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Task title here" %>
  </p></strong>

  <p><strong>
    <%= f.label :details %>
    <%= f.text_field :details, placeholder: "Task description" %>
  </p></strong>

  <p><strong>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </p></strong>

  <p>
    <%= f.submit "Press to create a new task!"%>
  </p>

<% end %>
<hr>
<p>
  <%= link_to 'Back to Homepage', tasks_path %>
</p>

</div>

